<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title text-center">Connexion</h3>
            <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="form.email" #email="ngModel">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Mot de passe" [(ngModel)]="form.password" #password="ngModel">
              </div>
              <button class="btn btn-primary w-100">Se connecter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>